
<script src="https://cdn.webrtc-experiment.com/getStats.min.js"></script>
<script src="/javascripts/main.js"></script>

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

My ID: <p id="myid"> </p>
Connected To: <p id="connectedto"> </p>

<video id="videoView" width="320" height="240" controls> </video>

<!-- <video" id="recorded" width="720" height="640" controls loop autoplay>
      <source src="/images/recorded.mov" />
      <p>This browser does not support the video element.</p>
</video> -->

<p id="data"> </p>
