
<script src="/javascripts/main.js"></script>

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

My ID: <p id="myid"> </p>
Connected To: <p id="connectedto"> </p>

<video id="videoView" width="320" height="240" controls> </video>
